
header .container {

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .hero {
        align-items: flex-end;
        background-image: url('../assets/images/banner.png');
        background-repeat: no-repeat;
        background-position: top center;
        height: 75rem;
        display: flex;
        padding-bottom: 2rem;
        width: 100%;
        margin: 0;

        h1 {
            padding: 2rem 0 0;
            margin: 0 auto;
            text-align: center;
            width: 100%;
        }
    }

}