#como-funciona {
    background: $font-color-primary;
    padding-bottom: 8rem;
    margin-bottom: 2rem;
}

.steps {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;

    &__item {
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        margin: 4rem;
        text-align: center;
        span {
            color: $color-secondary;
        }
    }

    h3{
        font-size: 20px;
        font-weight: 600;
        color: #f58220;

    }

}